* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #21549A;
  font-family: "Shotgun BT", sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

#intro img {
  height: 400px;
  allign-items: center;
  margin-left: 30px;
}

header img {
  height: 250px;
  allign-items: center;
  margin-left: 120px;
}

nav {
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-left: 20px;
}

section {
  padding: 50px 0;
}

section h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

.menu-items, .streetwear-items, .nft-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-item, .streetwear-item, .nft-item {
  width: 30%;
  text-align: center;
  margin-bottom: 50px;
}

.menu-item img, .streetwear-item img, .nft-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 20px;
}

.menu-item h2, .streetwear-item h2, .nft-item h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.menu-item p, .streetwear-item p, .nft-item p {
  font-size: 20px;
  margin-bottom: 10px;
}
#map {
  width: 100%;
  height: 350px;
}

section p {
  font-size: 18px;
}

section ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

section a {
  color: #0066FF;
}

#contact img {
  height: 500px;
  items-allign: center;
  margin-left: 330px;
}

footer {
  background-color: #21549A;
  color: white;
  text-align: center;
  padding: 20px;
}

footer p {
  font-size: 14px;
  margin: 0;
}

footer img {
  height: 80px;
  allign-items: center;
}